body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  background-color: #f2f2f2;
  text-transform: uppercase;
  color: #000000;
}

a {
  text-decoration: none;
  color: #000000;
}

h3 {
  font-size: 21px;
}

.big-container {
  max-width: 1200px;
  min-width: 768px;
  box-shadow: 0 10px 10px 5px rgba(219, 219, 219, 0.7);
  position: relative;
  margin: 0 auto;
}

.visually-hidden {
  display: none;
}

.page-header {
  width: 100%;
  min-height: 56px;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.navigation {
  margin: 0;
  padding: 0;
}

.navigation-menu {
  max-width: 1200px;
  min-width: 768px;
  min-height: 56px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.navigation-menu-left {
  text-align: left;
}

.navigation-menu-right {
  text-align: right;
}

.menu-item {
  display: inline-block;
  font-weight: bold;
  line-height: 26px;
  width: 20%;
  margin: 0;
  padding:0;
  padding-top: 13px;
  padding-bottom: 17px;
  vertical-align: middle;
}

.navigation-menu li:first-child {
  margin-left: 6%;
}

.navigation-menu li:last-child {
  margin-right: 6%;
}

.navigation-menu li:nth-child(2) {
  margin-right: auto;
}

.top-logo {
  position: absolute;
  left: 50%;
  margin-left: -69px;
  z-index: 1;
}

.menu-item a:hover {
  color: #81b3d2;
}

.menu-item a:active {
  color: #cacaca;
}

.current-item a {
  color: #766357;
}

.navigation-menu,
.reasons,
.recommendations,
.footer-social,
.filter-list,
.sorting-options,
.sorting-direction,
.hotels-list {
  list-style: none;
}

.main-banner,
.slogan,
.reasons,
.recommendations,
.search {
  text-align: center;
}

.container {
  width: 100%;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main-index {
  background-image: url(../img/background.jpg);
  background-size: 100% 800px;
  background-repeat: no-repeat;
  background-position: 0px -83px;
}

.main-banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.banner-sedona {
  padding-top: 76px;
}

.banner-shape {
  padding-top: 23px;
}

.slogan {
  width: 100%;
  min-height: 216px;
  margin: 0;
  padding: 0;
  line-height: 26px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
}

.top-slogan {
  display: block;
  width: 50%;
  font-size: 21px;
  margin-top: 59px;
}

.text-slogan {
  display: block;
  width: 50%;
  margin: 0;
  padding: 0;
  margin-top: 6px;
  margin-bottom: 35px;
}

.text-slogan,
.recommendation-text,
.reason-three .reason-number,
.reason-four .reason-number,
.reason-five .reason-number,
.reason-three .reason-comment,
.reason-four .reason-comment,
.reason-five .reason-comment,
.search-text,
.hotel-type,
.hotel-price {
  color: #333333;
}

.block-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.reasons,
.recommendations {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.town-photo {
  width: 67%;
  min-height: 256px;
  margin: 0;
  padding: 0;
  background-image: url(../img/town-photo.jpg);
  background-position: center;
  background-size: cover;
}

.bridge-photo {
  width: 67%;
  min-height: 256px;
  margin: 0;
  padding: 0;
  background-image: url(../img/bridge-photo.jpg);
  background-position: center;
  background-size: cover;
}

.reason {
  width: 33%;
  min-height: 256px;
  margin: 0;
  padding-top: 47px;
  padding-bottom: 40px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.reason-title {
  display: block;
  width: 38.1%;
  font-size: 21px;
  margin: 0;
}

.reason-number {
  display: block;
  width: 30%;
  margin: 0;
  padding: 0;
  padding-top: 25px;
}

.reason-comment {
  display: block;
  width: 70%;
  margin: 0;
  padding: 20px 0;
}

.reason-one,
.reason-two {
  color: #ffffff;
  background-color: #81b3d2;
}

.reason-one .reason-comment,
.reason-two .reason-comment {
  width: 77%;
}

.reason-three,
.reason-four,
.reason-five {
  background-color: #eeeeee;
}

.recommendation {
  width: 33%;
  min-height: 329px;
  margin: 0;
  padding: 0;
  padding-top: 60px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

.recommendation-2 svg {
  margin-top: 1px;
  margin-bottom: 1px;
}

.recommendation-3 svg {
  margin-top: -4px;
}

.recommendation-title {
  display: block;
  width: 50%;
  margin: 0;
  padding: 0;
  margin-top: 28px;
}

.recommendation-text {
  display: block;
  width: 75%;
  margin: 0;
  padding: 24px 0;
}

.intresting {
  width: 100%;
  min-height: 289px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-title {
  margin: 0;
  padding: 0;
  margin-top: 48px;
  font-size: 30px;
  line-height: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-text {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 46px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.open-search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 568px;
  height: 86px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  text-transform: uppercase;
  border: none;
  color: #ffffff;
  background-color: #766357;
  cursor: pointer;
}


.open-search:hover {
  background-color: #604e43;
}

.open-search:active {
  color: #928a85;
  background-color: #503e33;
}

.map  {
  width: 100%;
  min-height: 594px;
  background-image: url(../img/map.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.page-footer {
  width: 100%;
  min-height: 120px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
}

.index-footer {
  position: absolute;
  bottom: 0;
}

.hashtag {
  width: 33%;
  margin: 0;
  padding: 0;
  padding-top: 42px;
  padding-bottom: 48px;
  font-size: 21px;
  font-weight: bold;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-social {
  width: 33%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.social-button {
  width: 46px;
  height: 48px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #81b3d2;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.social-button:active path {
  fill: #88b6d1;
}

.facebook {
  margin: 0 6px;
}

.footer-copyright {
  width: 33%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.copyright-text {
  margin: 0;
  padding: 0;
  line-height: 26px;
}

.copyright-link {
  margin: 0;
  margin-left: 8px;
  margin-top: 2px;
  padding: 0;
}

.copyright-link:hover path {
  fill: #81b3d2;
}

.copyright-link:active path {
  fill: #bdbbbc;
}

iframe {
  position: relative;
  z-index: 0;
}

.search {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -284px;
  box-shadow: 0px 10px 10px 0 rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.search-form {
  margin: 0;
  padding: 55px;
  width: 568px;
  min-height: 395px;
  font-family: inherit;
  font-size: inherit;
  line-height: 26px;
  font-weight: bold;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}

.search-item {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-date {
  position: relative;
  width: 458px;
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
  width: 458px;
}

.search-input {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.search-input:hover {
  background-color: #ebebeb;
  cursor: pointer;
}

.search-input:focus {
  outline: none;
  background-color: #ffffff;
  border: 2px solid #ebebeb;
  cursor: pointer;
}

.date-input {
  margin: 0;
  margin-left: auto;
  padding: 0;
  padding-left: 12px;
  width: 346px;
  height: 38px;
  text-align: left;
  box-sizing: border-box;
  cursor: pointer;
}

.calendar {
  border: none;
  background-color: transparent;
  position: absolute;
  left: 420px;
  bottom: 5px;
  cursor: pointer;
}

.calendar path {
  fill: #cacaca;
  cursor: pointer;
}

.calendar:hover path {
  fill: #000000;
  cursor: pointer;
}

.calendar:active path {
  fill: #81b3d2;
  cursor: pointer;
}

.calendar:active {
  outline: none;
}

.combining-row {
  width: 458px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.item-children label {
  margin-right: 27px;
}

.item-adult label {
  margin-right: 40px;
}

.guests-number {
  margin: 0;
  padding: 0;
  width: 38px;
  height: 38px;
  text-align: center;
  cursor: pointer;
}

.guests-number:focus {
  width: 38px;
  height: 38px;
  border: none;
}

.button-minus,
.button-plus {
  width: 38px;
  height: 38px;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button-minus:hover,
.button-plus:hover,
.button-minus:active,
.button-plus:active {
  outline: none;
}

.button-minus:hover rect,
.button-plus:hover rect {
  fill: #000000;
}

.button-minus:active,
.button-plus:active {
  outline: none;
}

.button-minus:active rect,
.button-plus:active rect {
  fill: #81b3d2;
}

.search-button {
  width: 458px;
  height: 58px;
  margin-top: 55px;
  font-family: inherit;
  font-size: 21px;
  line-height: inherit;
  color: #ffffff;
  background-color: #81b3d2;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-button:hover {
  background-color: #669ec0;
}

.search-button:active {
  color: #94b9d2;
  background-color: #5496bd;
}

.filter {
  max-width: 1200px;
  min-width: 768px;
  min-height: 217px;
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: #48769a;
  background-image: url(../img/background-filter.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.filter-form {
  width: 100%;
  min-height: 217px;
  margin: 0;
  padding: 0 6%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.left-columns {
  width: 40%;
  margin: 0;
  padding: 0;
  margin-top: 27px;
  display: flex;
  justify-content: flex-start;
  text-align: right;
}

.filter-list {
  width: 50%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.infrastructure {
  margin-right: 20%;
}

.filter-title {
  font-size: 16px;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  text-align: right;
}

.check-item {
  margin: 0;
  padding: 0;
  margin-left: 15%;
  margin-bottom: 25px;
  position: relative;
}

.checkbox {
  display: none;
}

.checkbox + .checkbox-label {
  padding-left: 14px;
}

.checkbox-label {
  position: relative;
}

.checkbox + .checkbox-label::before {
  content: "";
  position: absolute;
  left: -25px;
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  border-radius: 3px;
  cursor: pointer;
}

.checkbox:checked + .checkbox-label::before {
  content: "";
  position: absolute;
  left: -25px;
  width: 27px;
  height: 23px;
  border: none;
  background-image: url(../img/svg-sedona/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

.checkbox:disabled + .checkbox-label::before {
  border: 2px solid #6a6a6a;
}

.checkbox:checked:disabled + .checkbox-label::before {
  content: "";
  position: absolute;
  left: -25px;
  width: 27px;
  height: 23px;
  border: none;
  background-image: url(../img/svg-sedona/checkbox-on-blocked.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-range {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  width: 320px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 11px;
  margin-left: 2px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  margin-left: 2px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  margin-top: -4px;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.max-price {
  margin-left: -10px;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  height: 26px;
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  width: 99%;
  left: 1%;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  width: 6px;
  height: 6px;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: flex;
  justify-content: center;
  width: 136px;
  height: 36px;
  margin: 0;
  margin-left: 88px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.sorting {
  width: 100%;
  min-height: 86px;
  margin: 0;
  padding: 0 6%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.sorting-container {
  display: flex;
  flex-direction: row;
}

.result {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.sorting-options {
  margin: 0;
  padding: 0;
  padding-top: 2px;
  font-size: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sorting-kind {
  padding: 0;
  margin: 0;
  margin-left: 30px;
  white-space: nowrap;
}

.sorting-type {
  color: #b1b1b1;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-type:hover {
  color: #81b3d2;
}

.sorting-type:active {
  color: #000000;
  border-bottom: none;
}

.sorting-direction {
  display: flex;
  justify-content: flex-start;
}


.sorting-arrow:hover path {
  fill: #000000;
}

.sorting-arrow:active path {
  fill: #81b3d2;
}

.selected-sorting {
  color: #81b3d2;
  border-bottom: none;
  padding-left: 10px;
}

.selected-sorting path {
  fill: #81b3d2;
}

.hotels {
  max-width: 1200px;
  min-width: 768px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.hotels-list {

  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}


.hotels-list {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.desert-quail {
  border: inherit;
}


.hotel-info {
  max-width: 1200px;
  min-width: 768px;
  min-height: 150px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

.hotel-block {
  width: 100%;
  margin: 0;
  padding: 0 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-block {
  width: 50%;
  min-height: 90px;
  margin: 0;
  margin-left: 30px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.hotel-name {
  margin: 0;
  margin-top: -3px;
  padding: 0;
  font-size: 21px;
  font-weight: bold;
  vertical-align: top;
}

.hotel-name a:hover {
  color: #81b3d2;
}

.hotel-name a:active {
  color: #cacaca;
}

.info-columns {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
}

.type-about {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.price-book {
  margin: 0;
  margin-left: 6px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hotel-type.
.hotel-price {
  margin: 0;
  padding: 0;
}

.about {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  font-weight: bold;
  color: #ffffff;
  background-color: #81b3d2;
  width: 110px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about:hover {
  background-color: #669ec0;
}

.about:active {
  color: #94b9d2;
  background-color: #5496bd;
}

.book {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  font-weight: bold;
  color: #ffffff;
  background-color: #766357;
  width: 142px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book:hover {
  background-color: #604e43;
}

.book:active {
  color: #928a85;
  background-color: #503e33;
}

.rating-block {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.rating {
  min-height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.rating-value {
  width: 110px;
  height: 27px;
  color: #666666;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.star {
  margin-right: 1px;
}
