body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  background-color: #f2f2f2;
  text-transform: uppercase;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #000000;
}

h3 {
  font-size: 21px;
}

.visually-hidden {
  display: none;
}

.page-header {
  min-width: 1200px;
  min-height: 56px;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation {
  width: 1200px;
  min-height: 56px;
  font-weight: bold;
  margin: 0;
  padding: 0 6%;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
}

.navigation-menu {
  width: 1200px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navigation-menu-left {
  text-align: left;
}

.navigation-menu-right {
  text-align: right;
}

.menu-item {
  min-width: 20%;
  margin: 0;
  padding: 0;
  padding-bottom: 2px;
}

.relative-left {
  position: relative;
  left: 30px;
}

.relative-right {
  position: relative;
  right: 32px;
}

.top-logo {
  position: absolute;
  left: 50%;
  margin-left: -69px;
  z-index: 1;
}

.menu-item a:hover {
  color: #81b3d2;
}

.menu-item a:active {
  color: #cacaca;
}

.current-item a {
  color: #766357;
}

.navigation-menu,
.reasons,
.recommendations,
.footer-social,
.filter-list,
.sorting-options,
.sorting-direction,
.hotels-list {
  list-style: none;
}

.main-banner,
.slogan,
.reasons,
.recommendations,
.search {
  text-align: center;
}

.container {
  width: 1200px;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main-index {
  background-image: url(../img/background.jpg);
  background-size: 1200px 800px;
  background-repeat: no-repeat;
  background-position: 0px -84px;
}

.main-banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.banner-sedona {
  padding-top: 77px;
}

.banner-shape {
  padding-top: 22px;
}

.slogan {
  width: 1200px;
  min-height: 216px;
  margin: 0;
  padding: 0;
  line-height: 26px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.top-slogan {
  margin-top: 60px;
  margin-left: 282px;
  margin-right: 282px;
  margin-bottom: 0px;
  padding: 0 93px;
}

.text-slogan {
  margin-top: 27px;
}

.text-slogan,
.recommendation-text,
.reason-three .reason-number,
.reason-four .reason-number,
.reason-five .reason-number,
.reason-three .reason-comment,
.reason-four .reason-comment,
.reason-five .reason-comment,
.search-text,
.hotel-type,
.hotel-price {
  color: #333333;
}

.block-container {
  width: 1200px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.reasons,
.recommendations {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.town-photo {
  width: 800px;
  min-height: 256px;
  margin: 0;
  padding: 0;
  background-image: url(../img/town-photo.jpg);
  background-position: center;
  background-size: cover;
}

.bridge-photo {
  width: 800px;
  min-height: 256px;
  margin: 0;
  padding: 0;
  background-image: url(../img/bridge-photo.jpg);
  background-position: center;
  background-size: cover;
}

.reason {
  width: 400px;
  min-height: 256px;
  margin: 0;
  padding-top: 47px;
  padding-bottom: 40px;
  padding-left: 46px;
  padding-right: 46px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.reason-title {
  margin: 0;
  padding: 0 25.5%;
}

.reason-number {
  margin: 0;
  padding: 0;
  padding-top: 25px;
}

.reason-comment {
  margin: 0;
  padding-top: 20px;
  padding-left: 1%;
  padding-right: 1%;
}

.reason-one,
.reason-two {
  color: #ffffff;
  background-color: #81b3d2;
}

.reason-three,
.reason-four,
.reason-five {
  background-color: #eeeeee;
}

.reason-three .reason-comment,
.reason-four .reason-comment,
.reason-five .reason-comment {
  padding-left: 5%;
  padding-right: 5%;
}

.recommendation {
  width: 400px;
  min-height: 330px;
  margin: 0;
  padding: 0;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

.recommendation-2 svg {
  margin-top: 1px;
  margin-right: 3px;
  margin-bottom: 1px;
}

.recommendation-3 svg {
  margin-top: -4px;
}

.recommendation-title {
  margin: 0;
  padding: 0;
  padding-top: 29px;
}

.recommendation-text {
  margin: 0;
  padding: 0;
  padding-top: 23px;
  padding-left: 14%;
  padding-right: 14%;
}

.search {
  width: 1200px;
  min-height: 291px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.search-title {
  margin: 0;
  padding: 0;
  margin-top: 50px;
  margin-bottom: -21px;
  font-size: 30px;
  line-height: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-text {
  margin: 0;
  padding: 0;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.open-search {
  margin: 0;
  padding: 0;
  width: 568px;
  min-height: 86px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  white-space: nowrap;
  text-transform: uppercase;
  text-align: center;
  border: none;
  color: #ffffff;
  background-color: #766357;
}


.open-search:hover {
  background-color: #604e43;
}

.open-search:active {
  color: #928a85;
  background-color: #503e33;
}

.map  {
  width: 1200px;
  min-height: 594px;
  background-image: url(../img/map.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.page-footer {
  width: 1200px;
  min-height: 120px;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.hashtag {
  font-size: 21px;
  font-weight: bold;
}

.footer-social {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.social-button {
  width: 46px;
  height: 48px;
  margin: 0;
  margin-right: 6px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #81b3d2;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.footer-copyright {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
}

.copyright-text {
  margin: 0;
  padding: 0;
  margin-right: -120px;
  line-height: 26px;
}

.copyright-link {
  margin: 0;
  padding: 0;
  margin-right: -150px;
}

.copyright-link:hover {
  color: #81b3d2;
}

.copyright-link:active {
  color: #bdbbbc;
}

.search-form {
  margin: 0;
  padding: 0;
  width: 568px;
  height: 356px;
  font-family: inherit;
  font-size: inherit;
  line-height: 26px;
  font-weight: bold;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}

.search-input {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: bold;
  background-color: #f2f2f2;
  border: none;
}

.search-input:hover {
  background-color: #ebebeb;
}

.search-input:focus {
  outline: none;
  background-color: #ffffff;
  border: 2px solid #ebebeb;
}

.date-input {
  margin: 0;
  margin-left: 20px;
  padding: 0;
  width: 346px;
  height: 38px;
  text-align: center;
}

.guests-number {
  margin: 0;
  padding: 0;
  width: 38px;
  height: 38px;
  text-align: center;
}

.button-minus,
.button-plus {
  width: 38px;
  min-height: 38px;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: bold;
  color: #a9a9a9;
  background-color: #f2f2f2;
  border: none;
}

.button-minus:hover,
.button-plus:hover,
.calendar:hover {
  outline: none;
  color: #000000;
}

.button-minus:active,
.button-plus:active,
.calendar:active {
  outline: none;
  color: #81b3d2;
}


.combining-row {
  width: 458;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-button {
  width: 458px;
  height: 58px;
  font-family: inherit;
  font-size: 21px;
  line-height: inherit;
  color: #ffffff;
  background-color: #81b3d2;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-button:hover {
  background-color: #669ec0;
}

.search-button:active {
  color: #94b9d2;
  background-color: #5496bd;
}

.filter {
  width: 1200px;
  min-height: 217px;
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: #48769a;
  background-image: url(../img/background-filter.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.filter-form {
  min-height: 217px;
  margin: 0;
  padding: 0 6%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-columns {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: right;
  white-space: nowrap;
}

.filter-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.infrastructure {
  margin-right: 40%;
}

.check-item {
  margin-top: 20px;
}

.price-select {
  margin: 0;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.price-filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.filter-title {
  font-size: 16px;
  margin: 0;
  text-align: right;
}

.range-label {
  width: 314px;
  height: 32px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.show-button {
  width: 133px;
  height: 32px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-self: center;
}

.show-button:hover {
  color: #000000;
  background-color: #ffffff;
}

.sorting {
  width: 1200px;
  height: 86px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
}

.sorting-container {
  width: 1200px;
  height: 86px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 6%;
}

.result {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.sorting-options {
  font-size: 12px;
  line-height: 63.1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -30%;
}

.sorting-kind {
  margin-left: 10%;
  white-space: nowrap;
}

.sorting-type {
  color: #b1b1b1;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-type:hover {
  color: #81b3d2;
}

.sorting-type:active {
  color: #000000;
  border-bottom: none;
}

.sorting-direction {
  display: flex;
  justify-content: flex-start;
}

.sorting-arrow {
  color: #cacaca;
}

.sorting-arrow:hover {
  color: #000000;
}

.sorting-arrow:active {
  color: #81b3d2;
}

.selected-sorting {
  color: #81b3d2;
  border-bottom: none;
  padding-left: 10px;
}

.hotels {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.hotels-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}


.hotels-list {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.desert-quail {
  border: inherit;
}


.hotel-info {
  width: 1200px;
  height: 152px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

.hotel-block {
  width: 1200px;
  margin: 0;
  padding: 0 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-block {
  margin: 0;
  margin-left: 30px;
  padding: 0;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.hotel-name {
  margin: 0;
  padding: 0;
  font-size: 21px;
  font-weight: bold;

}

.hotel-name a:hover {
  color: #81b3d2;
}

.hotel-name a:active {
  color: #cacaca;
}

.info-columns {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

.type-about {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.price-book {
  margin: 0;
  margin-left: 6px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-type.
.hotel-price {
  margin: 0;
  padding: 0;
}

.about {
  margin-top: 12px;
  font-weight: bold;
  color: #ffffff;
  background-color: #81b3d2;
  width: 110px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about:hover {
  background-color: #669ec0;
}

.about:active {
  color: #94b9d2;
  background-color: #5496bd;
}

.book {
  font-weight: bold;
  color: #ffffff;
  background-color: #766357;
  width: 142px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book:hover {
  background-color: #604e43;
}

.book:active {
  color: #928a85;
  background-color: #503e33;
}

.rating-block {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.rating {
  width: 90px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.star {
  color: #81b3d2;
}

.rating-value {
  width: 110px;
  height: 27px;
  color: #666666;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 47px;
}
