body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  background-color: #f2f2f2;
  text-transform: uppercase;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #000000;
}

h3 {
  font-size: 21px;
}

.visually-hidden {
  display: none;
}

.page-header {
  width: 1200px;
  height: 56px;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.navigation {
  line-height: 26px;
  font-weight: bold;
  margin: 0;
  padding: 0 6%;
  display: flex;
  justify-content: space-between;
}

.navigation-menu {
  width: 1200px;
  height: 56px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-menu-left {
  text-align: left;
  margin-right: 40%;
}

.navigation-menu-right {
  text-align: right;
}

.menu-item {
  width: 20%;
  padding: 0;
  white-space: nowrap;
}

.top-logo {
  position: absolute;
  left: 46%;
  padding: 0;
  z-index: 1;
}

.menu-item a:hover {
  color: #81b3d2;
}

.menu-item a:active {
  color: #cacaca;
}

.current-item a {
  color: #766357;
}

.navigation-menu,
.reasons,
.recommendations,
.footer-social,
.filter-list,
.sorting-options,
.sorting-direction,
.hotels-list {
  list-style: none;
}

.main-banner,
.slogan,
.reasons,
.recommendations,
.search {
  text-align: center;
}

.container {
  width: 1200px;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main-index {
  background-image: url(../img/background.jpg);
  background-size: 1200px 800px;
  background-repeat: no-repeat;
  background-position: 0px -84px;
}

.main-banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.banner-sedona {
  padding-top: 77px;
}

.banner-shape {
  padding-top: 23px;
}

.slogan {
  width: 1200px;
  height: 216px;
  margin: 0;
  padding: 0;
  line-height: 26px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-slogan,
.recommendation-text,
.reason-three .reason-number,
.reason-four .reason-number,
.reason-five .reason-number,
.reason-three .reason-comment,
.reason-four .reason-comment,
.reason-five .reason-comment,
.search-text {
  color: #333333;
}

.block-container {
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.reasons,
.recommendations {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.town-photo {
  width: 800px;
  min-height: 256px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../img/town-photo.jpg);
  background-position: center;
  background-size: cover;
}

.bridge-photo {
  width: 800px;
  min-height: 256px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../img/bridge-photo.jpg);
  background-position: center;
  background-size: cover;
}

.reason-one,
.reason-two {
  color: #ffffff;
  background-color: #81b3d2;
}

.reason-three,
.reason-four,
.reason-five {
  background-color: #eeeeee;
}

.reason {
  width: 400px;
  min-height: 256px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.reason-title {
  width: 40%;
}

.reason-comment {
  width: 75%;
}

.recommendation {
  width: 400px;
  min-height: 256px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.recommendation-text {
  width: 75%;
  margin: auto;
}

.search {
  width: 1200px;
  min-height: 291px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.search-text-block {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-text {
  line-height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.open-search {
  width: 568px;
  min-height: 86px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border: none;
  color: #ffffff;
  background-color: #766357;
}

.open-search:hover {
  background-color: #604e43;
}

.open-search:active {
  color: #928a85;
  background-color: #503e33;
}

.map  {
  width: 1200px;
  min-height: 594px;
  background-image: url(../img/map.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.page-footer {
  width: 1200px;
  min-height: 120px;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.hashtag {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.footer-social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.social-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6px;
  color: #ffffff;
  background-color: #81b3d2;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.copyright-text {
  line-height: 26px;
}

.copyright-link:hover {
  color: #81b3d2;
}

.copyright-link:active {
  color: #bdbbbc;
}

.search-form {
  width: 568px;
  height: 356px;
  font-family: inherit;
  font-size: inherit;
  line-height: 26px;
  font-weight: bold;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.search-input {
    font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: bold;
  background-color: #f2f2f2;
  border: none;
}

.search-input:hover {
  background-color: #ebebeb;
}

.search-input:focus {
  outline: none;
  background-color: #ffffff;
  border: 2px solid #ebebeb;
}

.date-input {
  width: 346px;
  height: 38px;
  text-align: center;
}

.guests-number {
  width: 38px;
  height: 38px;
  text-align: center;
}

.button-minus,
.button-plus {
  width: 38px;
  min-height: 38px;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: bold;
  color: #a9a9a9;
  background-color: #f2f2f2;
  border: none;
}

.button-minus:hover,
.button-plus:hover,
.calendar:hover {
  outline: none;
  color: #000000;
}

.button-minus:active,
.button-plus:active,
.calendar:active {
  outline: none;
  color: #81b3d2;
}


.combining-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search-button {
  width: 458px;
  height: 58px;
  font-family: inherit;
  font-size: 21px;
  line-height: inherit;
  color: #ffffff;
  background-color: #81b3d2;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-button:hover {
  background-color: #669ec0;
}

.search-button:active {
  color: #94b9d2;
  background-color: #5496bd;
}

.filter {
  width: 1200px;
  min-height: 217px;
  color: #ffffff;
  background-color: #48769a;
  background-image: url(../img/background-filter.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.filter-form {
  width: 1200px;
  min-height: 217px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left-columns {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 72px;
}

.filter-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.filter-title {
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.check-item {
  margin-top: 20px;
}

.price-select {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.price-filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.range-label {
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.show-button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.show-button:hover {
  color: #000000;
  background-color: #ffffff;
}

.result {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.sorting-options {
  font-size: 12px;
  line-height: 63.1px;
}

.sorting-type {
  color: #b1b1b1;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-type:hover {
  color: #81b3d2;
}

.sorting-type:active {
  color: #000000;
  border-bottom: none;
}

.sorting-arrow {
  color: #cacaca;
}

.sorting-arrow:hover {
  color: #000000;
}

.sorting-arrow:active {
  color: #81b3d2;
}

.selected-sorting {
  color: #81b3d2;
  border-bottom: none;
}

.hotel-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.hotel-name a:hover {
  color: #81b3d2;
}

.hotel-name a:active {
  color: #cacaca;
}

.about {
  font-weight: bold;
  color: #ffffff;
  background-color: #81b3d2;
}

.about:hover {
  background-color: #669ec0;
}

.about:active {
  color: #94b9d2;
  background-color: #5496bd;
}

.book {
  font-weight: bold;
  color: #ffffff;
  background-color: #766357;
}

.book:hover {
  background-color: #604e43;
}

.book:active {
  color: #928a85;
  background-color: #503e33;
}

.star {
  color: #81b3d2;
}

.rating-value {
  background-color: #f2f2f2;
}
