body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  background-color: #f2f2f2;
  text-transform: uppercase;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hotels-page {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  background-color: #f2f2f2;
  text-transform: uppercase;
  color: #000000;
}

a {
  text-decoration: none;
  color: #000000;
}

h3 {
  font-size: 21px;
}

.visually-hidden {
  display: none;
}


.page-header,
.container,
.page-footer {
  width: 1200px;
  background-color: #ffffff;
}

.navigation {
  line-height: 26px;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.menu-item a:hover {
  color: #81b3d2;
}

.menu-item a:active {
  color: #cacaca;
}

.current-item a {
  color: #766357;
}

.navigation-menu,
.reasons,
.recommendations,
.footer-social,
.filter-list,
.sorting-options,
.sorting-direction,
.hotels-list {
  list-style: none;
}

.main-banner,
.slogan,
.reasons,
.recommendations,
.search {
  text-align: center;
}

.page-header {
  height: 56px;
}

.top-logo {
  z-index: 1;
}

.navigation-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-item {
  width: 239px;
  height: 56px;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main-index {
  background-image: url(../img/background.jpg);
  background-size: 1200px 800px;
  background-repeat: no-repeat;
  background-position: -100px right;
}

.main-banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.banner-sedona {
  padding-top: 77px;
}

.slogan {
  margin: 0;
  padding: 0;
  line-height: 26px;
}

.text-slogan,
.recommendation-text,
.reason-three .reason-number,
.reason-four .reason-number,
.reason-five .reason-number,
.reason-three .reason-comment,
.reason-four .reason-comment,
.reason-five .reason-comment,
.search-text {
  color: #333333;
}

.reason-one,
.reason-two {
  color: #ffffff;
  background-color: #81b3d2;
}

.reason-three,
.reason-four,
.reason-five {
  background-color: #eeeeee;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
}

.search-text {
  line-height: 24px;
}

.open-search {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  background-color: #766357;
}

.open-search:hover {
  background-color: #604e43;
}

.open-search:active {
  color: #928a85;
  background-color: #503e33;
}

.page-footer {
  background-color: rgba(255, 255, 255, 0.9);
}

.hashtag {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.social-button {
  color: #ffffff;
  background-color: #81b3d2;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.copyright-text {
  line-height: 26px;
}

.copyright-link:hover {
  color: #81b3d2;
}

.copyright-link:active {
  color: #bdbbbc;
}

.search-form {
  width: 568px;
  height: 356px;
  font-family: inherit;
  font-size: inherit;
  line-height: 26px;
  font-weight: bold;
  background-color: #ffffff;
}

.search-input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: bold;
  background-color: #f2f2f2;
  border: none;
}

.search-input:hover {
  background-color: #ebebeb;
}

.search-input:focus {
  outline: none;
  background-color: #ffffff;
  border: 2px solid #ebebeb;
}

.button-minus,
.button-plus {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: bold;
  color: #a9a9a9;
  background-color: #f2f2f2;
  border: none;
}

.button-minus:hover,
.button-plus:hover,
.calendar:hover {
  outline: none;
  color: #000000;
}

.button-minus:active,
.button-plus:active,
.calendar:active {
  outline: none;
  color: #81b3d2;
}

.guests-number {
  text-align: center;
}

.search-button {
  font-family: inherit;
  font-size: 21px;
  line-height: inherit;
  color: #ffffff;
  background-color: #81b3d2;
  text-align: center;
}

.search-button:hover {
  background-color: #669ec0;
}

.search-button:active {
  color: #94b9d2;
  background-color: #5496bd;
}

.filter {
  color: #ffffff;
  background-color: #48769a;
  background-image: url(../img/background-filter.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.filter-title {
  font-size: 16px;
}

.range-label {
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.show-button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.show-button:hover {
  color: #000000;
  background-color: #ffffff;
}

.result {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.sorting-options {
  font-size: 12px;
  line-height: 63.1px;
}

.sorting-type {
  color: #b1b1b1;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-type:hover {
  color: #81b3d2;
}

.sorting-type:active {
  color: #000000;
  border-bottom: none;
}

.sorting-arrow {
  color: #cacaca;
}

.sorting-arrow:hover {
  color: #000000;
}

.sorting-arrow:active {
  color: #81b3d2;
}

.selected-sorting {
  color: #81b3d2;
  border-bottom: none;
}

.hotel-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.hotel-name a:hover {
  color: #81b3d2;
}

.hotel-name a:active {
  color: #cacaca;
}

.about {
  font-weight: bold;
  color: #ffffff;
  background-color: #81b3d2;
}

.about:hover {
  background-color: #669ec0;
}

.about:active {
  color: #94b9d2;
  background-color: #5496bd;
}

.book {
  font-weight: bold;
  color: #ffffff;
  background-color: #766357;
}

.book:hover {
  background-color: #604e43;
}

.book:active {
  color: #928a85;
  background-color: #503e33;
}

.star {
  color: #81b3d2;
}

.rating-value {
  background-color: #f2f2f2;
}
